<?xml version="1.0"?>
<robot name="Kinect">

    <link name="world" />

    <link name="solid">
        <visual>
            <origin xyz="0 0 0" rpy="0 1.5708 1.5708" />
            <geometry>
                <mesh filename="package://webots_baxter/resource/kinect/meshes/kinect.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 1.5708 1.5708" />
            <geometry>
                <mesh filename="package://webots_baxter/resource/kinect/meshes/kinect.dae"/>
            </geometry>
        </collision>
    </link>

    <joint name="world_solid_joint" type="fixed">
        <parent link="world" />
        <child link="solid" />
        <origin xyz="0.8 0 1.5" rpy="0 0 1.5708" />
    </joint>
    <link name="kinect_range">
</link>
    <joint name="solid_kinect range_joint" type="fixed">
        <parent link="solid" />
        <child link="kinect_range" />
        <origin xyz="0 0 -0.0127" rpy="-0.785397 1.570792 0.785397" />
    </joint>
    <link name="kinect_color">
</link>
    <joint name="solid_kinect color_joint" type="fixed">
        <parent link="solid" />
        <child link="kinect_color" />
        <origin xyz="0 0 -0.0127" rpy="-2.356193 1.570792 -0.7854" />
    </joint>
</robot>