<?xml version="1.0" ?>
<robot name="cafe_table" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="cafe_table__link">
    <inertial>
      <mass value="0"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="cafe_table__surface">
      <origin rpy="0  0  0" xyz="0     0     0.755"/>
      <geometry>
        <box size="0.913 0.913 0.04"/>
      </geometry>
    </collision>
    <collision name="cafe_table__column">
      <origin rpy="0  0  0" xyz="0    0    0.37"/>
      <geometry>
        <box size="0.042 0.042 0.74"/>
      </geometry>
    </collision>
    <collision name="cafe_table__base">
      <origin rpy="0  0  0" xyz="0    0    0.02"/>
      <geometry>
        <box size="0.56 0.56 0.04"/>
      </geometry>
    </collision>
    <visual name="cafe_table__visual">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <mesh filename="package://webots_baxter/resource/cafe_table/meshes/cafe_table.DAE" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="cafe_table_fixed" type="fixed">
  <origin rpy="0 0 0" xyz="0.73 0.4 -0.93"/>
  <axis xyz="0 0 1"/>
  <parent link="world"/>
  <child link="cafe_table__link"/>
  </joint>
</robot>
