<?xml version="1.0"?>
<robot name="baxter" xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- Custom Baxter Xacro-->
    <webots>
        <plugin type="webots_ros2_control::Ros2Control" />
    </webots>

    <xacro:property name="initial_positions_file" value="$(find webots_baxter)/config/initial_positions.yaml" />
    <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)}" />

    <!-- Baxter Ros2 Control -->
    <xacro:include filename="$(find baxter_description)/urdf/baxter_base/baxter_base.webots.xacro" />
    <xacro:ros2_control name='WebotsControl' prefix='right' initial_positions="${initial_positions}" />
    <!-- <xacro:ros2_control name='WebotsControl' prefix='left' initial_positions="${initial_positions}" /> -->

    <!-- baxter robot -->
    <xacro:include filename="$(find baxter_description)/urdf/baxter.urdf.xacro" />


</robot>