<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="baxter_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="left_s0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_s0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_s1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_s1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_e0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_e0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_e1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_e1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_w0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_w0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_w1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_w1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_w2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_w2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_s0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_s0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_s1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_s1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_e0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_e0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_e1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_e1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_w0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_w0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_w1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_w1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_w2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_w2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_gripper_l_finger_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_gripper_l_finger_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_gripper_l_finger_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_gripper_l_finger_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
